@charset "UTF-8";

.univlogo>a{
            overflow: hidden;
        }
        .univlogo img{
            width: 200px;
            height: 80px;
            position: absolute;
            top: 15px;
            left: 30px;
            opacity: .7;
            /* margin-left: 30px;
            margin-top: 15px;
            box-sizing: border-box; */
        }
        header{
            height: 20%;
        }
        .login_container{
            max-width: 1250px;
            height: 600px;
            margin: 0 auto;
            padding: 0 15px;
            box-sizing: border-box;
        }

        .login_wrapper{
            /* background-color: #ccc; */
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            /* justify-content: center; */
            align-items: center;
        }
        .move_button{
            padding: 10px;
            border-radius: 10px;
        }