.minilogo img {
    height: 100px;
    margin-left: 40px;
}

.logo img {
    height: 100px;
    margin-left: 70px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.welcome{
	margin: 10px;
	padding-bottom: 10px;
	display:flex;
	justify-content: center;
}

