.msg_card{
	margin: 20px 10px;
	width: 310px;
}

.msg_select{
	width: auto !important;

}

.receive_pp{
	width: 330px !important;
	display: inline-block !important;
	margin: 0 0 0 10px;
}

.msg_box{
	height: min-content !important;
	margin-top: 18px;
}

.msg_Write{
	display: flex;
	justify-content: space-between;
}

.msg_write_btn{
	margin-top: 18px !important;
	width: 200px;
}

.modal_title{
	resize: none;
	height: 20px;
}

.modal_content{
	resize: none;
	height: 250px;
}

.scroll_content{
	overflow: scroll;
	height: 120px;
}
.content_line{
	white-space: pre-line;
}
#send_box{
/* 	display:none; */
	display: flex;
	flex-wrap: inherit;
	justify-content: center;
}
#receive_box{
	display:none;
}
#select_select{
	margin-left: 75px;
}

.receive_card{
	border-color: #192a87 !important;
}
