/* noticeView */
.body_div {
	width: 1250px;
	margin: 10px auto 0 auto;
}

.logo_button {
	display: flex;
	justify-content: space-between;
	position: relative;
	margin: 10px 0px 30px;
}

.logoimg {
	align-items: center;
}

.fromsaenglogo {
	width: 100px;
}

.logo {
	width: 100px;
}

.button {
	float: right;
	position: absolute;
	bottom: 0;
	right: 0;
}

.title_search {
	display: flex;
	justify-content: space-between;
	margin: -3px;
}

.title {
	position: relative;
}

.drop_search {
	float: right;
}

.notice_search {
	display: flex;
}

.sortation {
	height: 34px;
	width: 60px;
}

.search_input {
	width: 280px;
	height: 34px;
}

.table_div {
	margin-top: 50px;
	min-height: 300px;
}

.Page_order {

	color: black;
}

.pagination {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

.add_delete {
	position: relative;
	margin: 10px 0 10px 0;
}

/* 공지사항 등록하기 - noticeEnroll */
.logoimg_enroll {
	margin: 10px 0px 30px;
}

.room {
	margin: 20px 0;
}

.enroll_box {
	resize: none;
}

/* 공지사항 상세보기 - noticeDetail */
.notice_detail_title {
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	min-height: 58px;
	padding: 1rem 0.75rem;
}

.notice_detail_content {
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	min-height: 300px;
	padding: 1rem 0.75rem;
	/* 줄바꾸기, 띄어쓰기 여러번...가능 */
/* 	white-space: pre-line; */
}

/* 공지사항 수정하기 - noticeUpdate */
.update_title_box{
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	min-height: 58px;
	padding: 1rem 0.75rem;

	
}
.update_content_box{
    height: auto;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	min-height: 300px;
	padding: 1rem 0.75rem;
	
}

.no_list {
	text-align: center;
}

pre{
	 font-family: 'NanumBarunGothicYetHangul' !important;
}








