
.side_container{
    background-color: rgba(33, 37, 43, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
    box-sizing: border-box;
    height: 100vh;
    position: fixed;
  }
  .side_container #logo>img{
    width: 180px;
  }
  .side_container #uni_name>img{
    width: 200px;
  }
  .list_button{
    padding: 0;
  }
  .list_button li{
    border-radius: 0.25rem;
    
  }
  .list_button li:hover{
    background-color: rgba(0, 88, 204, 0.836);
  }
  .list_button li:focus{
    background-color: darkblue;
  }
  .list_button li a{
    color: white;
    display: block;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    text-decoration: none;
    
  }
  .list_button{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: auto;
    box-sizing: border-box;
    width: 100%;
  }
  hr:not([size]){
    border: 0.5px solid white;
    margin-top: 20px; 
    margin-bottom: 20px; 
    width: 100%;
  }
